<div>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Description</th>

  </tr>
  <tr>
    <td><%= @article.name %> </td>
    <td><%= @article.description %> </td>
  </tr>
</table>

<center><%= link_to 'Back' , articles_url%></center>

</div>